@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Dongle', sans-serif;
    --main-color1: #02343F;
    --main-color2: #F0EDCC;
    --font-color: #000;
}

body {
    font-family: 'Jua', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background: url("Dessert.jpg");
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

.box {
    background-color: transparent;
    position: relative;
    z-index: 2;
    margin-right: 150px;
}

.box h1 {
    font-size: 32px;
    text-align: center;
    font-family: none;
}

.mb-3 {
    color: white;
}

.help {
    color: white;
}

.button.is-sparta {
    background-color: var(--main-color1);
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: var(--main-color2);
    color: var(--main-color2) !important;
}

.help {
    color: gray;
}