<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>오늘 이 디저트 어때? | 메인페이지</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- fontawesome(좋아요 버튼) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Open Graph -->
    <meta property="og:title" content="오늘 이 디저트 어때?"/>
    <meta property="og:description" content="오늘 뭐 디저트 뭐 드실지 고민되신다고요? 그래서 준비했습니다 '오늘 이 디저트 어때?'"/>
    <meta property="og:image" content="{{ url_for('static', filename='og.jpg') }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="/static/js/random_recommend.js" defer></script>


</head>
<body>
<header class="header-wrap">
    <a href="/" class="header-title">오늘 이 디저트 어때?</a>
    <div class="title-btn">
        <a class="upload-page" href="/upload">업로드</a>
        <div class="random-btn">
            <span class="random" onclick="handleRandomOnClick();addClass();">
                랜덤추천
            </span>
        </div>
        <div id="random-item-container"></div>
    </div>
</header>

<!-- jinja를 이용해서 디저트 정보를 화면에 뿌려준다. -->
<container class="wrap">
    <!--  서버에서 보내준 디저트 리스트를 가지고 카드를 하나씩 생성해준다.  -->
    {% for dessert in dessert_list %}
    <div class="card">
        <div class="image is-5by4">
            <img class="dessert-img" src="/static/{{ dessert['img'] }}" }>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ dessert.dessert_name }}</h5>
            <div class="like-box">
                <a class="level-item is-sparta" aria-label="thumb"
                   onclick="toggle_like(`{{ dessert.dessert_name }}`, 'like')">
                    <span class="icon is-small">
                        <i class="thumbs fas fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                </a>
                <span class="like-num">{{ dessert.count_like }}</span>
                <a class="level-item is-sparta" aria-label="thumb"
                   onclick="toggle_like(`{{ dessert.dessert_name }}`, 'unlike')">
                    <span class="icon is-small">
                        <i class="thumbs fas fa-thumbs-down" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="comment" id="comment">
            {{ dessert.comment }}
        </div>
    </div>
    {% endfor %}
</container>

</body>
</html>