<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>


    <title>이 디저트 먹어볼래?</title>

    <script src="/static/myscript.js" defer></script>

</head>
<body>
<header class="header-wrap">
    <h1 class="header-title">이 디저트 먹어볼래?</h1>
    <a class="upload-page" href="/upload">직접 올려보세요</a>
      <div class="random-btn">
        <button class="random" onclick="handleRandomOnClick();addClass();">
          랜덤추천받기
        </button>
      </div>
      <div id="random-item-container">
        <div>이야이야호</div>
      </div>
</header>

<container class="wrap">
    {% for dessert in dessert_list %}
        <div class="card">
            <div class="image is-5by4">
                <img class="dessert-img" src="/static/{{ dessert['img'] }}" }>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ dessert.dessert_name }}</h5>
                <div class="like-box">
                    <a class="level-item is-sparta" aria-label="thumb"
                   onclick="toggle_like(`{{ dessert.dessert_name }}`, 'like')">
                        <span class="icon is-small">
                            <i class="thumbs fas fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                    </a>
                    <span class="like-num">{{ dessert.count_like }}</span>
                    <a class="level-item is-sparta" aria-label="thumb"
                       onclick="toggle_like(`{{ dessert.dessert_name }}`, 'unlike')">
                            <span class="icon is-small">
                                <i class="thumbs fas fa-thumbs-down" aria-hidden="true"></i>
                            </span>
                    </a>
                </div>

            </div>
            <div id="comment">
                {{ dessert.comment }}
            </div>
        </div>
    {% endfor %}
</container>
</body>
</html>