<!doctype html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>오늘 이 디저트 어때? | 업로드</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Open Graph -->
    <meta property="og:title" content="오늘 이 디저트 어때?"/>
    <meta property="og:description" content="오늘 뭐 디저트 뭐 드실지 고민되신다고요? 그래서 준비했습니다 '오늘 이 디저트 어때?' "/>
    <meta property="og:image" content="{{ url_for('static', filename='og.jpg') }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon3.png') }}" type="image/x-icon">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    파일업로드 라이브러리-->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</head>


    <body>
        <div class="all-background">
            <div class="wrap">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="login title">오늘 먹은 디저트는 어때?</h1>
                        <div class="posting-box">

                            <!-- 파일 업로드 HTML-->
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file">
                                <label class="custom-file-label" for="file" style="color: blueviolet">사진을 올려주세요</label>
                            </div>

                            <!-- 파일 업로드시 디저트 이름 적는 인풋-->
                            <div class="form-group">
                                <input type="email" class="form-control" id="title" placeholder="어떤 디저트를 드셨나요?">
                            </div>

                            <!-- 파일 업로드시 코멘트를 적는 곳-->
                            <div class="form-group">
                                <textarea class="form-control" id="content" rows="3" placeholder="맛이 어떠셨어요?"></textarea>
                            </div>

                            <!-- 파일 업로드시 업로드 버튼-->
                            <button onclick="posting()" type="button" class="btn">업로드</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>